@using SFA.DAS.EmployerCommitments.Web
@using SFA.DAS.EmployerCommitments.Web.Extensions
@using SFA.DAS.EmployerCommitments.Web.ViewModels.ManageApprenticeships
@model OrchestratorResponse<ChangeStatusChoiceViewModel>

@{
    ViewBag.Title = "Which status change would you like to make?";
    ViewBag.Section = "apprentices";
    ViewBag.PageId = "change-apprentice-status";
}

<div class="grid-row">
    <div class="column-two-thirds">

        <form method="POST" action="@Url.RouteUrl("PostChangeStatusSelectOption")" onsubmit="sfa.tagHelper.submitRadioForm('@ViewBag.Title')">
            @Html.AntiForgeryToken()
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            <h1 class="heading-xlarge">@ViewBag.Title</h1>



            <legend class="form-label-bold">Pause an apprenticeship to:</legend>
            <ul class="list-bullet">
                <li>record a break in learning as agreed with the training provider</li>
                <li>freeze future payments to a training provider for a period of time</li>
            </ul>
            <legend class="form-label-bold">Stop an apprenticeship to:</legend>
            <ul class="list-bullet">
                <li>change your training provider during the lifetime of a course</li>
                <li>cancel all future payments</li>
            </ul>

            <div class="notice">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <strong class="bold-small">
                    Do not stop completed apprenticeships.
                </strong>
            </div>
            <br />
            <div class="form-group @Html.AddClassIfPropertyInError("ChangeType", "error")">
                <fieldset>
                    @Html.ValidationMessage("ChangeType", "Select whether to change this apprenticeship status or not", new { id = "error-message-ChangeType" })

                    @if (Model.Data.IsCurrentlyPaused)
                    {
                        <label for=@($"ChangeType-{ChangeStatusType.Resume}") class="block-label selection-button-radio">
                            @Html.RadioButton("ChangeType", ChangeStatusType.Resume, new { id = $"ChangeType-{ChangeStatusType.Resume}", dataOptionName = $"{ChangeStatusType.Resume}", onclick = $"sfa.tagHelper.radioButtonClick('{ViewBag.Title}', '{ChangeStatusType.Resume}')" })
                            Resume this apprenticeship
                        </label>
                    }
                    else
                    {
                        <label for=@($"ChangeType-{ChangeStatusType.Pause}") class="block-label selection-button-radio">
                            @Html.RadioButton("ChangeType", ChangeStatusType.Pause, new { id = $"ChangeType-{ChangeStatusType.Pause}", dataOptionName = $"{ChangeStatusType.Pause}", onclick = $"sfa.tagHelper.radioButtonClick('{ViewBag.Title}', '{ChangeStatusType.Pause}')" })
                            Pause this apprenticeship
                        </label>
                    }

                    <label for=@($"ChangeType-{ChangeStatusType.Stop}") class="block-label selection-button-radio">
                        @Html.RadioButton("ChangeType", ChangeStatusType.Stop, new { id = $"ChangeType-{ChangeStatusType.Stop}", dataOptionName = $"{ChangeStatusType.Stop}", onclick = $"sfa.tagHelper.radioButtonClick('{ViewBag.Title}', '{ChangeStatusType.Stop}')" })
                        Stop this apprenticeship
                    </label>

                    <label for=@($"ChangeType-{ChangeStatusType.None}") class="block-label selection-button-radio">
                        @Html.RadioButton("ChangeType", ChangeStatusType.None, new { id = $"ChangeType-{ChangeStatusType.None}", dataOptionName = $"{ChangeStatusType.None}", onclick = $"sfa.tagHelper.radioButtonClick('{ViewBag.Title}', '{ChangeStatusType.None}')" })
                        Go back to apprentice details
                    </label>


                </fieldset>
            </div>
            <button class="button" type="submit" id="submit-change-status">Save and continue</button>
        </form>
    </div>
</div>



@section breadcrumb {
    <div class="breadcrumbs">
        <a href=@Model.Data.ApprenticeDetailsV2Link aria-label="Back to apprentices details" class="back-link">Back</a>
    </div>
}

@section gaDataLayer {
    <script>
        sfa.dataLayer.vpv = '/accounts/apprentices/manage/change-apprentice-status';
    </script>
}