@using SFA.DAS.EmployerCommitments.Web
@using SFA.DAS.EmployerCommitments.Web.Extensions
@using SFA.DAS.EmployerCommitments.Web.ViewModels.ManageApprenticeships
@model OrchestratorResponse<WhenToMakeChangeViewModel>

@{
    ViewBag.Title = "When did this apprenticeship training stop?";
    ViewBag.PageId = "when-to-apply-stop";
    ViewBag.Section = "apprentices";
}


@section pageSpecificJS {
    @Scripts.Render("~/comt-assets/bundles/lengthLimitation")
}

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="post" action="@Url.RouteUrl("PostWhenToApplyChange")" novalidate onsubmit="sfa.tagHelper.submitRadioForm('@ViewBag.Title')">
            @Html.AntiForgeryToken()
            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)

            <h1 class="heading-xlarge">@ViewBag.Title</h1>
            <fieldset>
                <legend class="visually-hidden" aria-hidden="true">Select stop date</legend>
                <p>The earliest date you can enter is this apprenticeship's start date of @Model.Data.ApprenticeStartDate.ToGdsFormatWithoutDayAbbrMonth().  Any outstanding payments will be made for activity up to this date.</p>

                <p style="color:#6f777b">For example, 6 2018</p>
                <div class="form-group">

                    <div class="form-date">
                        @Html.ValidationMessage("DateOfChange", new { id = "error-message-DateOfChange", @class = "error-message" })
                        <div class="form-group form-group-month">
                            <label for="DateOfChange.Month">
                                Month
                            </label>
                            @Html.TextBox("DateOfChange.Month", Model.Data.ChangeStatusViewModel.DateOfChange.Month, new { @class = "form-control length-limit", type = "number", maxlength = "2", min = "1", max = "12", aria_labelledby = "DateOfChange.Month" })

                        </div>
                        <div class="form-group form-group-year">
                            <label for="DateOfChange.Year">
                                Year
                            </label>
                            @Html.TextBox("DateOfChange.Year", Model.Data.ChangeStatusViewModel.DateOfChange.Year, new { @class = "form-control length-limit", type = "number", maxlength = "4", min = "1900", max = "9999", aria_labelledby = "DateOfChange.Year" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="button" type="submit" id="submit-apply-change">Save and Continue</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>


@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.RouteUrl("OnProgrammeApprenticeshipDetails")" aria-label="Back to apprentices details" class="back-link">Back</a>
    </div>
}

@section gaDataLayer {
    <script>
        sfa.dataLayer.vpv = '/accounts/apprentices/manage/when-to-apply-stop'
    </script>
}