@{
    ViewBag.Title = "Transfer request approved";
    ViewBag.Section = "";
    ViewBag.PageID = "transfer-approved";
}

@model string

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="success-summary">
            <h1 class="heading-medium">Transfer request approved</h1>
            <p>You have approved a transfer request from Good Supplier Ltd</p>
        </div>
    </div>
</div>

<h1 class="heading-xlarge">@Model</h1>

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("ApproveTransfer")" onsubmit="sfa.tagHelper.submitRadioForm('@ViewBag.Title')">

            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)

            <fieldset role="radiogroup" aria-required="true">
                <div class="form-error-group form-group @Html.AddClassIfPropertyInError("Confirmation", "error")">
                    <h2 class="heading-medium" for="">What next?</h2>
                    <div>
                        @Html.ValidationMessage("Confirmation", "Please choose an option", new { id = "error-message-Confirmation" })
                    </div>
                    <label class="block-label selection-button-radio" for="Confirmation-True">
                        @Html.RadioButton("Confirmation", "True", new { id = "Confirmation-True", dataOptionName = "Yes", onclick = $"sfa.tagHelper.radioButtonClick('{ViewBag.Title}', 'Yes')" })
                        Go to the transfers dashboard
                    </label>
                    <label class="block-label selection-button-radio" for="Confirmation-False">
                        @Html.RadioButton("Confirmation", "False", new { id = "Confirmation-False", dataOptionName = "No", onclick = $"sfa.tagHelper.radioButtonClick('{ViewBag.Title}', 'No')" })
                        Go to the homepage
                    </label>
                </div>
            </fieldset>

            <button type="submit" class="button" id="submit-transfer-connection">Continue</button>


        </form>
    </div>
</div>
