@using SFA.DAS.EmployerCommitments.Web
@using SFA.DAS.EmployerCommitments.Web.Extensions

@{
    ViewBag.Title = "Do you want to use transfer funds to pay for this training?";
    ViewBag.Section = "apprentices";
    ViewBag.PageID = "choose-transfer-connection";
}

@model OrchestratorResponse<SFA.DAS.EmployerCommitments.Web.ViewModels.SelectTransferConnectionViewModel>

<div class="grid-row">
    <div class="column-two-thirds">
        <form method="POST" action="@Url.Action("SetTransferConnection")" onsubmit="sfa.tagHelper.submitRadioForm('@ViewBag.Title')">

            @Html.Partial("ValidationSummary", Html.ViewData.ModelState)
            <div class="form-group">
                <legend>
                    <h1 class="heading-xlarge">@ViewBag.Title</h1>
                </legend>
                @Html.AntiForgeryToken()

                <fieldset id="radio-lines">
                    <legend>
                        @Html.ValidationMessage("TransferConnectionCode", "Please choose an option", new { id = "error-message-TransferConnectionCode" })
                    </legend>
                    @foreach (var entity in Model.Data.TransferConnections)
                    {
                        <label class="block-label selection-button-radio" for="TransferConnection-@entity.TransferConnectionCode">
                            @Html.RadioButton("TransferConnectionCode", @entity.TransferConnectionCode,
                                new
                                {
                                    @id = "TransferConnection-" + entity.TransferConnectionCode,
                                    dataOptionName = $"{entity.TransferConnectionName}",
                                    onclick = $"sfa.tagHelper.radioButtonClick('{ViewBag.Title}', '{entity.TransferConnectionName}')"
                                })
                            Yes, I will use transfer funds from @entity.TransferConnectionName
                        </label>
                        <hr/>
                    }
                    <label class="block-label selection-button-radio" for="TransferConnection-None">
                        @Html.RadioButton("TransferConnectionCode", "None", new {@id = "TransferConnection-None", dataOptionName = "", onclick = $"sfa.tagHelper.radioButtonClick('{ViewBag.Title}', 'None')"})
                        No, I don't want to use transfer funds
                    </label>

                </fieldset>
            </div>
            <button type="submit" class="button" id="submit-transfer-connection">Continue</button>

        </form>
    </div>
</div>
@section breadcrumb {
    <div class="breadcrumbs">
        <a href="@Url.Action("Index", "EmployerCommitments")" aria-label="Back to Apprentices" class="back-link">Back to Apprentices</a>
    </div>
}

@section gaDataLayer {
    <script>
        sfa.dataLayer.vpv = '/accounts/apprentices/legalEntity/create/choose-organisation';
    </script>
}