@model SFA.DAS.EmployerCommitments.Web.ViewModels.ManageApprenticeships.ApprenticeshipFiltersViewModel

@RenderFilter("Status", "Status", Model.ApprenticeshipStatusOptions, Model.Status)
@RenderFilter("Alerts", "RecordStatus", Model.RecordStatusOptions, Model.RecordStatus)
@RenderFilter("Training Courses", "Course", Model.TrainingCourseOptions, Model.Course)
@RenderFilter("Provider", "Provider", Model.ProviderOrganisationOptions, Model.Provider)
@* todo: Training Courses, but Funding status (but everything else on page capitalises first char only, so perhaps change Training Courses? *@
@RenderFilter("Funding Status", "FundingStatus", Model.FundingStatusOptions, Model.FundingStatus)

@helper RenderFilter(string groupHeader, string groupName, List<KeyValuePair<string, string>> options, List<string> selected)
{
    <div class="filter-option-select">
        <div class="container-head js-container-head">
            <div class="option-select-label">@groupHeader</div>
        </div>
        <div class="options-container">
            @foreach (var option in options)
            {
                var checkedAtt = selected != null && selected.Contains(option.Key) ? "checked=\"checked\"" : "";
                <div class="item">
                    <label for="@(groupName)-@option.Key">
                        <input name="@groupName" value="@option.Key" class="js-option-select" id="@(groupName)-@option.Key" type="checkbox" @checkedAtt aria-controls="js-search-results-info">
                        <span>@option.Value</span>
                    </label>
                </div>
            }
        </div>
    </div>
}